################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs
/packages/Microsoft.DXSDK.D3DX.9.29.952.8
/simple-directx9/x64/Debug
/x64/Debug
/sample1/.vs/simple-directx9
/sample1/packages/Microsoft.DXSDK.D3DX.9.29.952.8
/sample1/simple-directx9/x64/Debug
/sample1/x64/Debug
/sample2/.vs/simple-directx9
